<% provide(:title, "Users") %>

<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>MultiPass</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user, class: "btn btn-default btn-xs" %></td>
      <td><%= user.multipass_id %></td>
      <td>number</td>
    </tr>
    <% end %>
  </tbody>
</table>
