<p id="notice"><%= notice %></p>

<h3>Grades for <%= @user.multipass_id %></h3>
<table class="table table-striped">
  <th> Assignment </th>
  <th> Score </th>
  <% @user.grades.each do |grade| %>
  <tr>
    <td><%= grade.assignment.name %></td>
    <td><%= grade.score %></td>
  </tr>
  <% end %>
</table
