<div id="header-button-container">
  <div class="btn-group btn-group-justified" id="editor-btn-group" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <span>
        <button type="button" id="btn-restart" class="btn btn-default btn-sm btn-editor-header" data-toggle="tooltip" data-placement="bottom" title="Reset">
          <span class="glyphicon glyphicon-file"></span>
        </button>
      </span>
    </div>
    <div class="btn-group" role="group">
      <span>
        <button type="button" id="btn-save" class="btn btn-default btn-sm btn-editor-header" data-toggle="tooltip" data-placement="bottom" title="Save">
          <span class="glyphicon glyphicon-floppy-save"></span>
        </button>
      </span>
    </div>
    <div class="btn-group" role="group">
      <span data-toggle="modal" data-target="#upload_modal">
        <button type="button" id="btn-upload" class="btn btn-default btn-sm btn-editor-header" data-toggle="tooltip" data-placement="bottom" title="Upload">
          <span class="glyphicon glyphicon-cloud-upload"></span>
        </button>
      </span>
    </div>
    <div class="btn-group" role="group">
      <span data-toggle="modal" data-target="#download_modal">
        <button type="button" id="btn-download" class="btn btn-default btn-sm btn-editor-header" data-toggle="tooltip" data-placement="bottom" title="Download">
        <span class="glyphicon glyphicon-cloud-download"></span>
        </button>
      </span>
    </div>
  </div>
</div>
