<div id="editorPanel" class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title">Editor</h3>

    <%= render 'editor_header_buttons' %>

  </div>
  <div class="panel-body" id="editor-panel-body">
    <div id="editor"><%= @editor_file_contents %></div>
  </div>
</div>
