<div id="editor">
// SUPER AMAZING PROGRAM
using namespace std;

int main() {
	return 0;
}</div>

<script>
    $( document ).ready(function() {
        config = require("ace/config")
        config.set("modePath", "/ace-config");
        config.set("themePath", "/ace-config");

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/xcode");
        editor.getSession().setMode("ace/mode/c_cpp");
    });
</script>
