<!DOCTYPE html>
<html lang="en">
<head>
<title>ACE in Action</title>
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .ace_editor {
		border: 1px solid lightgray;
		margin: auto;
		height: 800px;
		width: 650px;
	}
</style>
</head>
<body>

<div id="editor">
// SUPER AMAZING PROGRAM
using namespace std;

int main() {
	return 0;
}</div>

<script>
    $( document ).ready(function() {
        config = require("ace/config")
        config.set("modePath", "/ace-config");
        config.set("themePath", "/ace-config");

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/c_cpp");
    });
</script>
</body>
</html>
