<h1>Welcome to CSCI AutoGrader</h1>
<h4>In order to use this site, you need to sign in.</h4>
<%= link_to "Sign in with MultiPass", user_shibboleth_omniauth_authorize_path, class: "btn btn-default btn-lg" %>

</br></br></br></br>
<p>Links below should be removed in production version (Google sign-in is needed for local testing)</p>
<%= render "devise/shared/links" %>
