// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "bootstrap-sprockets";
// @import "bootstrap";

$editor-button-size: 39px;

#progress_bar_container {
  height: 30px;
  line-height: 30px;
}

.progress-bar {
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #eee;
}

span:last-child > .progress-bar {
  line-height: 30px;
  border-right: none;
}

.progress-bar.progress-bar-testing {
  width: 100%;
  background-color: darkcyan;
}

.progress-bar.progress-bar-error {
  width: 100%;
  background-color: dimgray;
}

.popover-content p {
  padding-top: 15px;
  margin-bottom: 0px;
  text-align: right;
}

.popover-content samp {
  word-wrap: break-word;
}

#test-results-body {
  word-wrap: break-word;
  max-height: 500px;
  overflow-y: scroll;
}

.progress-bar > .error-title {
  display: none;
}

.progress-bar > .failure-message-full {
  display: none;
}

span#default-filler {
  color: lightgray;
}

span#form-filename {
  width: 100%;
  font-size: 16px;
  overflow: hidden;
}

div#description {
  overflow-y: scroll;
  margin-bottom: 10px;
}

#editor-panel-body {
  padding: 0px;
}

// Editor header buttons
div#header-button-container {
  position: absolute;
  width: $editor-button-size * 5;
  right: 15px;
  top: 0px;
}

.btn-editor-header {
  height: $editor-button-size;
}

#editor-btn-group > .btn-group:not(:last-child) > span > .btn {
  border-radius: 0px;
  border-right: transparent;
}

#editor-btn-group > .btn-group:last-child > span > .btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

// Toast message button style
a.close:hover,
a.close:focus {
  background-color: rgba(255, 255, 255, 0);
}

a.btn.btn-success:visited {
  color: #fff;
}

// Modal header restyling
div.modal-header {
  background-color: #222;
  color: #9d9d9d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

button.modal-close {
  color: #9d9d9d;
  opacity: 1;
}

button.modal-close:hover {
  color: #dbdbdb;
  opacity: 1;
}

// Upload modal style
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.input-group-btn {
  font-size: 14px;
}
