<p id="notice"><%= notice %></p>

<h1>Choose a Lab:</h1>
</br>
<div id="lab-btns">
  <% @labs.each do |lab| %>
    <% if lab.hidden%>
      <% if current_user.role == "admin" %>
        <%= link_to lab.name, lab, class: "btn btn-warning btn-lg" %>
      <% end %>
    <% else %>
      <%= link_to lab.name, lab, class: "btn btn-default btn-lg" %>
    <% end %>
  <% end %>
</div>

<br>
