<p id="notice"><%= notice %></p>

<h1>Choose a Lab:</h1>

<div id="lab-btns">
  <% @labs.each do |lab| %>
  <button type="button" class="btn btn-default btn-lg"><%= link_to lab.name, lab %></button>
  <% end %>
</div>

<br>

<%= link_to 'New Lab', new_lab_path %>
