<% provide(:title, @lab.name) %>

<p id="notice"><%= notice %></p>

<h1><%= @lab.name %><h1>

<p>
  <% @lab.assignments.each do |assignment| %>
  <%= link_to assignment.name, assignment, class: "btn btn-default btn-lg" %>
  <% end %>
</p>
